:root {
    --background: white;
    --textcolor: black;
    --elements-background: rgb(200 200 200);
    --shadow: 2px 2px 3px -1px black;
}

body {
    background: var(--background);
    color: var(--textcolor);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

button {
    outline: none;
    border: none;
    border-radius: 12px;
    padding: 10px 12px;
    cursor: pointer;
    transition: .3s;
    box-shadow: var(--shadow);
}

button:hover {
    opacity: .7;
    transform: scale(1.1);
}

button svg {
    height: 24px;
}

.todos-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.todos-list div {
    width: calc(100% - 30px);
    max-width: 630px;
    margin: 0 auto 10px;
    padding: 15px;
    border-radius: 15px;
    background: var(--elements-background);
    box-shadow: var(--shadow);
    display: grid;
    grid-template-columns: 30px 1fr 48px;
    align-items: center;
    justify-items: start;
    /* animation: fadeIn .5s cubic-bezier(0.25, 0.1, 0.66, 1.31); */
}

.todos-list button {
    width: 48px;
    height: 48px;
}

.todos-list div span:hover {
    text-decoration: underline;
}

.addTodo {
    margin-bottom: 10px;
}

.addTodo input {
    max-width: calc(630px - 117px);
    width: 100%;
    padding: 8px 15px;
    margin: 0 20px 0 0;
    border: 2.5px solid var(--elements-background);
    border-radius: 12px;
    background-color: var(--elements-background);
    color: var(--textcolor);
    box-shadow: var(--shadow);
    outline: none;
    transition: .3s;
}

.addTodo input:hover,
.addTodo input:focus {
    opacity: .8;
    border: 2.5px solid var(--textcolor);
}


/* @keyframes fadeIn {
    0% {
        transform: scale(.6);
        opacity: 0
    }
    60% {
        transform: scale(1.03);
        opacity: 1
    }
    100% {
        transform: scale(1)
    }
} */

@media (prefers-color-scheme: dark) {
     :root {
        --background: rgb(53 53 53);
        --textcolor: white;
        --elements-background: rgb(32 33 36);
        --shadow: 2px 2px 3px -2px black;
    }
}